.about-second {}

.about-second__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  row-gap: 60px;

  @media (max-width: $breakpoint992) {
    grid-template-columns: repeat(1, 1fr);
  }

  .about__benifits {
    height: 100%;
  }
}

.about-second__picture {
  grid-column: span 2;

  @media (max-width: $breakpoint992) {
    grid-column: span 1;
  }

  img {
    border-radius: 10px;
    max-width: 100%;
    width: 100%;
  }
}