.hero {
  margin-bottom: 90px;

  @media (max-width: $breakpoint992) {
    margin-bottom: 40px;
  }

  // .hero__slider

  &__slider {
    height: 1010px;

    @media (max-width: $breakpoint992) {
      height: 870px;
    }
  }

  // .hero__slider-wrapper

  &__slider-wrapper {}

  // .hero__slide

  &__slide {
    display: flex;
    padding-bottom: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .container {
      display: flex;
    }
  }

  // .hero__slide-info

  &__slide-info {
    max-width: 995px;
    margin-top: auto;

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }

  // .hero__slide-label

  &__slide-label {
    margin-bottom: 30px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }
  }

  // .hero__slide-title

  &__slide-title {
    margin-bottom: 30px;
  }

  // .hero__slide-descr

  &__slide-descr {
    max-width: 510px;
    margin-bottom: 30px;
    color: #A1A1AA;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }

  // .hero__slide-footer

  &__slide-footer {
    display: flex;
    align-items: center;
    column-gap: 15px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 15px;
    }
  }

  // .hero__slide-btn-gradient

  &__slide-btn-gradient {
    flex: 0 0 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 60px;
    background: var(--Linear, linear-gradient(98deg, #6DDCFF 0%, #7F60F9 100%));

    color: #F5F5F5;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
      width: 100%;
    }
  }

  // .hero__slide-search-group

  &__slide-search-group {
    position: relative;
    height: 60px;
    flex: 0 1 340px;
    width: 100%;

    img {
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
    }

    @media (max-width: $breakpoint768) {
      flex: 0 1 auto;
      width: 100%;
    }
  }

  // .hero__slide-search

  &__slide-search {
    width: 100%;
    padding: 17px 16px 17px 48px;
    border-radius: 60px;
    border: 2px solid #303737;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(7.5px);
    outline: 0;

    color: var(--gray-500, #71717A);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }

  &__slider-footer {


    .container {
      position: relative;
      z-index: 2;
    }
  }

  // .hero__slider-arrows

  &__slider-arrows {
    position: absolute;
    bottom: 20px;
    left: 0;

    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 15px;
  }

  // .hero__slider-arrow

  &__slider-arrow {
    width: 31px;
    height: 31px;
    cursor: pointer;
  }

  // .hero__slider--prev

  &__slider--prev {}

  // .hero__slider--next

  &__slider--next {}

  // .hero__slider-pagination

  &__slider-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    margin: 0 15px;
    align-items: center;
    justify-content: space-between;
    border-radius: 60px;
    background: rgba(217, 217, 217, 0.20);
    backdrop-filter: blur(5px);
    opacity: 1;

    .swiper-pagination-bullet {
      flex: 1 1 auto;
      margin: 0 !important;
      border-radius: 60px;
      background: rgba(217, 217, 217, 0.20);
      backdrop-filter: blur(5px);
      height: 2px;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      flex: 1 1 auto;
      margin: 0 7px !important;
      border-radius: 60px;
      background: linear-gradient(97deg, #6DDCFF -89.03%, #7F60F9 230.94%);
      backdrop-filter: blur(5px);
      opacity: 1;
    }
  }
}