.map {
  position: relative;
  padding-bottom: 248px;

  &::before {
    content: '';
    position: absolute;
    left: -30%;
    top: 0;
    width: 440px;
    height: 1040px;
    transform: rotate(-112deg);
    background: var(--Linear, linear-gradient(98deg, #6DDCFF 0%, #7F60F9 100%));
    opacity: 0.3;
    filter: blur(105px);
    z-index: -1;

    @media (max-width: $breakpoint768) {
      content: none;
    }

  }

  @media (max-width: $breakpoint992) {
    padding-bottom: 444px;
  }

  .number-block {
    margin-bottom: 140px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 24px;
    }
  }

  // .map__inner

  &__inner {}

  // .map__info

  &__info {
    position: relative;
    max-width: 636px;

    z-index: 2;
  }

  // .map__title

  &__title {
    margin-bottom: 38px;

    .main-title-gradient {
      background: var(--Linear, linear-gradient(98deg, #7F60F9 0%, #6DDCFF 100%));
      background-clip: text;
      -webkit-background-clip: text;
    }

    @media (max-width: $breakpoint992) {
      margin-bottom: 24px;

      svg {
        width: auto;
        height: 35px;
      }
    }

    @media (max-width: $breakpoint768) {
      svg {
        width: auto;
        height: 25px;
      }
    }
  }

  // .map__regions

  &__regions {
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 350px;
    column-gap: 14px;
    padding: 8px 24px;
    border-radius: 60px;
    border: 2px solid rgb(255, 255, 255, 0.2);
  }

  // .map__regions-sum

  &__regions-sum {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    line-height: 66px;
  }

  // .map__regions-text

  &__regions-text {
    color: var(--gray-400, #A1A1AA);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }

  // .map__picture

  &__picture {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;

    &.number-block {
      opacity: 1;
      padding: 0;
      border-top: 0;

      &.visible {
        &::after {
          opacity: 1;
        }
      }

    }


    &::after {
      content: '';
      position: absolute;
      top: 52%;
      right: -40px;
      width: 100%;
      height: 100%;
      background-image: url('../img/geo-map.png');
      background-repeat: no-repeat;

      opacity: 0;
      transition: 1s ease-out;

      @media (max-width: $breakpoint992) {
        background-size: 56%;
      }

      @media (max-width: $breakpoint480) {
        right: -20px;
      }

    }

    @media (max-width: $breakpoint992) {
      top: auto;
      bottom: 0;
    }

    @media (max-width: $breakpoint480) {
      bottom: auto;
    }


  }

  // .map__pic

  &__pic {
    max-width: 100%;
  }
}