.calculate+.services {
  margin-top: 132px;
}

.services {
  position: relative;
  margin-bottom: 132px;


  &::before {
    content: '';
    position: absolute;
    left: -40%;
    bottom: 0;
    width: 820px;
    height: 1074px;
    transform: rotate(-112deg);
    background: var(--Linear, linear-gradient(98deg, #6DDCFF 0%, #7F60F9 100%));
    opacity: 0.2;
    filter: blur(105px);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    right: -40%;
    top: 0;
    width: 820px;
    height: 1074px;
    transform: rotate(-112deg);
    background: var(--Linear, linear-gradient(98deg, #6DDCFF 0%, #7F60F9 100%));
    opacity: 0.2;
    filter: blur(105px);
    z-index: -1;
  }

  .number-block {
    margin-bottom: 40px;
  }

  // .services__inner

  &__inner {}

  // .services__title

  &__title {
    margin-bottom: 26px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 18px;
    }
  }

  // .services__lists

  &__lists {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @media (max-width: $breakpoint992) {
      row-gap: 10px;
    }
  }

  // .services__list

  &__list {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      row-gap: 10px;
    }
  }

  // .services__item

  &__item {
    min-height: max-content;

    &:hover {

      .services__item-arrow {
        transform: rotate(45deg);
      }
    }
  }

  &__item--more {
    width: 320px;


    @media (max-width: $breakpoint992) {
      width: 100%;
    }
  }

  // .services__item-text

  &__item-text {
    width: 296px;
    margin-right: 30px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.5;
  }

  &__item-label {
    font-size: 24px;
    color: #FFF;
    font-weight: 600;
    line-height: normal;


    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }
  }

  &__item-more-label {
    color: #D0D0D0;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
  }

  // .services__link

  &__link {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid #191919;

    &:hover {
      .services__item-pic {
        filter: grayscale(0);
      }

      .services__item-arrow {
        transform: rotate(45deg);
      }
    }
  }

  // .services__item-pic

  &__item-pic {
    margin-bottom: 20px;
    border-radius: 10px;
    filter: grayscale(1);

    transition: filter 0.2s linear;

    img {
      max-width: 417px;
      width: 100%;
      height: 417px;
      border-radius: 10px;
      object-fit: cover;


      @media (max-width: $breakpoint992) {
        max-width: 100%;
        height: auto;
        min-height: 417px;
      }
    }

    @media (max-width: $breakpoint992) {
      filter: grayscale(0);
    }
  }

  // .services__item-footer

  &__item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .services__item-arrow

  &__item-arrow {
    width: 40px;
    height: 40px;
    object-fit: cover;

    transition: transform 0.2s linear;

    @media (max-width: $breakpoint992) {
      transform: rotate(45deg);
    }
  }

  // .services__item-more

  &__item-more {
    display: flex;
    align-items: flex-end;
    min-height: 500px;
    width: 100%;
    height: max-content;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(249, 249, 249, 0.20);

    cursor: pointer;

    .services__item-footer {
      margin-top: auto;


      @media (max-width: $breakpoint992) {
        margin-top: 0;
      }
    }


    @media (max-width: $breakpoint992) {
      min-height: 120px;
      align-items: center;
    }
  }
}

.services-third {

  .revievs__label {
    margin-bottom: 30px;
  }
}